@model BoletosBus_CleanModularApp.Web.Models.BusModels.BusGetModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Bus</h1>

@if (Model != null)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdBus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdBus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CapacidadTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CapacidadTotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumeroPlaca)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumeroPlaca)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CapacidadPiso1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CapacidadPiso1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CapacidadPiso2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CapacidadPiso2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Disponible)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Disponible)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdBus }) |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <p>Bus details are not available.</p>
}
